<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <style>
        .color0 {
            background-color: red;
        }
        .color1 {
            background-color: black;
        }
    </style>
    <title>Checkerboard</title>
</head>
<body>
    <h1>Checkerboard</h1>
    <table>
        {% for i in range (y): %}
            <tr>
                {% for j in range (x): %}
                <td class="color{{ (i+j)%2 }}"></td>
                {% endfor%}
            </tr>
        {% endfor %}
        </table>
</body>
</html>