<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <style>
        .color {
            background-color:red;
        }
        .color2 {
            background-color: black;
        }
    </style>
    <title>Checkerboard</title>
</head>
<body>
    <h1>Checkerboard</h1>
    <table>
    {% for i in range (4) %}
        <tr>
            {% for j in range (4) %}
            <td class="color"></td>
            <td class="color2"></td>
            {% endfor%}
        </tr>
        <tr>
            {% for j in range (4) %}
            <td class="color2"></td>
            <td class="color"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

</body>
</html>