<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <tbody class="table table-secondary m-3 text-center">
        {% for one_ninja in dojo.ninjas %}
        <tr>
            <td>{{one_ninja.first_name}}</td>
            <td>{{one_ninja.last_name}}</td>
            <td>{{one_ninja.age}}</td>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>